include:
  - project: smp/iac/pipeline-common
    ref: 4.5.0
    file: common.yml

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event"'

stages:
  - code_quality
  - publish

cache:
  paths:
    - .m2/repository
    
variables:
  RULES_MASTER_BRANCH_OVERRIDE: main
  MVN_CMD: mvn -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository -Denv.type=aws -Dgpg.skip
  SONAR_PROJECT_KEY: ldsdk_ldsdk-java
  WS_MAVEN_AGGREGATEMODULES: "true"
  WS_PROJECTNAME: "ldsdk-java"


######################
# Code quality stage #
######################

sonar-validate:
  extends: .sonar-base
  needs: []

whitesource-check-policies:
  extends:
    - .whitesource-check-policies
    - .rules-except-master
  allow_failure: true

whitesource-update:
  extends:
    - .whitesource-update
    - .rules-only-master

#################
# Publish stage #
#################

publish-maven-central:
  stage: publish
  image: maven:3.9.11-amazoncorretto-21
  rules:
    - if: '$CI_COMMIT_REF_PROTECTED == "true"'
      when: manual
      allow_failure: true
    - when: never
  before_script:
    - gpg --import $GPG_PRIVATE_KEY
  script:
    - mvn -s .m2/settings.xml
          -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
          -Dgpg.keyname=$GPG_KEYID
          -Dgpg.passphrase=$GPG_PASSPHRASE
          -Dgpg.skip=false
          -B clean deploy
  dependencies: []
  needs: []
