logs/
sdk/target/
sdk-test/target/
target/
sdk-test/dependency-reduced-pom.xml
sdk/dependency-reduced-pom.xml
.idea/
docs/member-search-index.zip
docs/package-search-index.zip
docs/type-search-index.zip
sdk-example/src/main/resources/sdk.properties
sdk-jar-example/src/main/resources/sdk.properties
